build/
out/
dist/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
*.obj
*.o
*.lib
*.a
*.exe
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.tmp
*.log
__pycache__/
*.py[cod]
.cache/
.vscode/
.idea/
